:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --pkmn-image-color: brightness(1);
  --pkmn-image-guess: brightness(0);

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

    --pkmn-image-color: contrast(1);
    --pkmn-image-guess: contrast(0);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  text-align: center;
}

h1 {
  font-size: 40px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
.page-wrapper {
  min-height: calc(100vh - 72px - 2rem);
  min-width: 300px;
  max-width: 500px;
  margin: 2rem 1rem 72px 1rem;
  display: flex;
  flex-direction: column;
}
.logo-frontpage {
  margin: 1rem 0;
  align-self: center;
}
.logo-light {
  display: none;
}

.logo-dark {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .logo-light {
    display: block;
  }

  .logo-dark {
    display: none;
  }
}
nav {
  height: 72px;
  width: 100vw;
  background: var(--border);
  z-index: 100;
  bottom: 0;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  max-width: 1500px;

  left: 50%;
  transform: translateX(-50%);
  font-size: medium;
}
a {
  text-decoration: none;
  color: inherit;
}
select {
  border: 1px solid var(--border);
  padding: 0.5rem;
  background-color: var(--accent-bg);
}
select:has(option:checked) {
  background-color: var(--accent-border);
  color: var(--text-h);
}
option {
  background-color: var(--border);
}
button,
.button {
  border: 1px solid var(--border);
  padding: 0.5rem 0.8rem;
  background-color: var(--accent-bg);
  border-radius: 0.5rem;
  margin: 6px;
}
.button:has(input[type="radio"]:checked) {
  background-color: var(--accent-border);
  color: var(--text-h);
}
button:disabled {
  background-color: var(--shadow);
}
.pkmn-guess-img {
  max-height: 50vh;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}
#mystery {
  --pkmn-image-filter: var(--pkmn-image-guess);
  filter: var(--pkmn-image-filter);
}
#mystery.revealed {
  --pkmn-image-filter: var(--pkmn-image-color);
  transition: filter 0.5s ease;
}
input[type="radio"] {
  display: none;
}
#pkmn-guess-form {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  /* gap: 12px; */
}
/* #pkmn-guess-form label {
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
} */
/* #pkmn-guess-form label:has(input[type="radio"]:checked) {
  background-color: var(--accent-border);
} */
#game-header {
  min-height: 150px;
}
.guess-header {
  text-align: center;
}
#correct {
  color: green;
}
#wrong {
  color: red;
}
#new-game-wrapper {
  margin-top: 2rem;
}
#new-game-btn-section {
  margin-top: 4px;
  display: flex;
  justify-content: space-evenly;
}
#game-criteria-form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;
  margin-top: 2rem;
}
#game-criteria-form h4 {
  margin: 0;
}
#clue-section {
  display: flex;
  justify-content: space-evenly;
}
#answer-section {
  display: flex;
  justify-content: space-evenly;
}
#dex-entry {
  padding: 0 1rem;
  font-size: medium;
  text-align: justify;
  line-height: 1.6;
}
@keyframes spin-animation {
  0% {
    transform: rotate(0) translateY(0) scaleY(1);
  }
  25% {
    transform: rotate(10deg) translateY(-50px) scaleY(1.1);
  }
  50% {
    transform: rotate(0) translateY(0) scaleY(1);
  }
  75% {
    transform: rotate(-10deg) translateY(-30px) scaleY(1.1);
  }
  100% {
    transform: rotate(0) translateY(0) scaleY(1);
  }
}
@keyframes throw-animation {
  0% {
    offset-distance: 0%;
    transform: scale(2) rotate(-20deg);
  }

  100% {
    offset-distance: 100%;
    transform: scale(1) rotate(360deg);
  }
}
#loader-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#spinner {
  height: 80px;
  margin-bottom: 10rem;
}
.spin-animation {
  animation: spin-animation 1.5s linear infinite;
}
.throw-animation {
  position: absolute;
  offset-path: path("M 120 -150 Q 60 -200 0 0");
  offset-rotate: 0deg;
  offset-anchor: center;

  animation: throw-animation 0.5s ease-out forwards;
}

#pkmn-list {
  margin: 0;
  padding: 0 0 1rem 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
#pkmn-list li {
  list-style: none;
}
#pkmn-list img {
  width: 5rem;
}
